@media (max-width: 992px)
{
    .logo
    {
        position: static !important;    
    }
    .search
    {
        position: static !important; 

    }
    .card
    {
        top:0px !important;    
    }
    .amimage
    {
        display: none;
    }
    .am1
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am2
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am3
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am4
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am5
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am6
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am7
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }
    .am8
    {
        position:static !important;
        margin-bottom:28px;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        padding:10px 10px;
    }

    .title
    {
        position: static !important;
    }
    .fb
    {
        display: none;
    }
    .bx-controls
    {
        display: none;
    }
    .ru1
    {
        position:static !important;
    }
    .ru2
    {
        position:static !important;
    }
    .ru3
    {
        position:static !important;
    }
    .dots
    {
        display:none;    
    }
    .dots1
    {
        display:none;    
    }
    #cb
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 30%;
        margin: auto;
        padding-top: 20px;
    }

    .rshape
    {
        position: static !important;    
    }

    .rshape1
    {
        position: static !important;    
    }

    .rshape2
    {
        position: static !important;    
    }

    .rshape3
    {
        position: static !important;    
    }

    .rshape4
    {
        position: static !important;    
    }

    .rshape5
    {
        position: static !important;  

    }
    .rshape6
    {
        position: static !important;    
    }

    .rshape7
    {
        position: static !important;    
    }
    .am
    {
        text-align: -webkit-center;    
    }
    
    .items
    {
    display: none;    
    }
}


@media (max-width: 360px)
{
    #cb
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        margin: auto;
        padding-top: 20px;
    }
}

@media (max-width: 1024px)
{
    #cb
    {
        background: url(../images/cb.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: auto;
        padding-top: 20px;
        top:169px;
    }
}

@media (min-width: 992px)
{
    .aboutus
    {
        background: url('../images/aboutbus.png');
        height:500px;
        background-repeat: no-repeat;
    }
    .amimage
    {
        background: url('../images/amimage1.png');
        height:480px;
        background-repeat: no-repeat;
    }
    #contact
    {
        background: url('../images/ft.png');
        height:300px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bx-controls
    {
        display: none;
    }
    .color
    {
        background-color:maroon;
    }
    #cb
    {
        background: url('../images/cb.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 20%;
        margin:auto;
        padding-top:20px;
    }
}
.navbar
{
    z-index: 100;    
}

.back
{
    background-color: #ededed;
    color:black;
}
.login
{
    color:black;
    font-size:16px;
}
.phone
{
    font-size:16px;    
}
.navbar
{
    z-index: 100;
    margin-right:10px;   
}
.logo
{
    position: absolute;
    top: -47px;
    left: 131px;
    z-index: 100;
    width: 49%;
}
.shape1
{
    border-radius:100px 0px 0px 100px;
    background: #870002;
    padding: 12px; 
    width: 100%;
    height:auto;
    font-size:20px;
}

.search
{
    position: absolute;
    top: 222px;
    width: 369px;
    right: 10%;
    height: 364px;
    z-index: 100;
    margin: auto;
}



.cal
{
    margin-top: -30px;
    margin-right:23px;  
    color:#000;
}

.btn
{
    background-color: #870002;
    color:white;
}
.shape3
{
    width:100%;
    height:20px;
    background-color: #870002;
}

.name
{
    font-size:50px;
    font-weight: 500;
}
.items
{
    list-style: none;
    font-size:25px;
    line-height: 58px;
}
.am1
{
    position: absolute;
    top: 16px;
    right: 21px;
    z-index: 100;
}

.am2
{
    position: absolute;
    top: 19px;
    right: 27px;
    z-index: 100;
}

.am3
{
    position: absolute;
    top: 22px;
    right: 26px;
    z-index: 100;
}

.am4
{
    position: absolute;
    top: 24px;
    right: 33px;
    z-index: 100;
}

.am5
{
    position: absolute;
    top: 23px;
    right: 25px;
    z-index: 100;
}

.am6
{
    position: absolute;
    top: 10px;
    right: 29px;
    z-index: 100;
}

.am7
{
    position: absolute;
    top: 26px;
    right: 31px;
    z-index: 100;
}

.am8
{
    position: absolute;
    top: 20px;
    right: 24px;
    z-index: 100;
}
.title
{
    position: absolute;
    top: 168px;
    left: 50px;    
}

.routes
{
    background-color: #eafff4;    
}

.ru1
{
    position: absolute;
    top: 230px;
    right: 195px;
}
.ru2
{
    position: absolute;
    top: 230px;
    right: 195px;
}
.ru3
{
    position: absolute;
    top: 230px;
    right: 175px;
}

.dots
{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #870002;
}
.dots1
{
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #870002;
    opacity: 60%;
}
.contact
{
    background-color: #870002;
    color:white;
}
#select
{
    border-radius: 50px;
    border: 3px solid;
    border-color: maroon;    
}
.round
{
    border-radius: 50px;
    border: 3px solid;
    border-color: maroon; 
}
.font1
{
    width:100%;
}

.rshape
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: -3px;
    right: 230px;
    z-index:100;
}
.rshape1
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 35px;
    right: 120px;
    z-index: 100;
}

.rshape2
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 126px;
    right: 54px;
    z-index: 100;
}

.rshape3
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 240px;
    right: 58px;
    z-index: 100;
}
.rshape4
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 322px;
    right: 128px;
    z-index: 100;
}

.rshape5
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 363px;
    right: 231px;
    z-index: 100;
}
.rshape6
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 330px;
    right: 339px;
    z-index: 100;
}

.rshape7
{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: maroon;
    position: absolute;
    top: 236px;
    right: 409px;
    z-index: 100;
}



